*{
	box-sizing: border-box;
}
/*begin clearfix*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
/*end cleafix*/
/*reset a*/
a{
	text-decoration: none;
}
a:hover{
	color: red;
}
body{
	background-color: #f7f7f7;
}
.site-wrap{
	width: 1000px;
	margin: 0 auto;
}

#site-header .cover {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	padding-left: 10px;
}
#site-header{
	margin-bottom: 30px;
}
#site-header .menu {
	text-align: center;
	font-size: 18px;
}
#site-header .menu a{
	margin: 0 10px;
}
#site-header .menu a.active, #site-header .menu a:hover{
	font-weight: bold;
	color: red;
}
.main-content .row{
	margin-bottom: 15px;
}
.main-content .album{
	float: left;
	width: 33.3333%;
	padding: 0 10px;
}
.main-content{
	padding-right: 33.3333%;
	position: relative;
}
.main-content .most-view-song{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 33.3333%;
	padding: 10px;
	border: 1px solid #ddd;
	background: white;
}
.main-content .most-view-song > h2{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 15px;
}
.main-content .most-view-song p{
	margin: 0 0 10px 0;
	padding-bottom: 8px;
	border-bottom: 1px solid #eaeaea;
}
.main-content .most-view-song p:last-child{
	padding-bottom: 0;
	border-bottom: none;
}
.main-content .green a{
	color: green;
}
.main-content .orange a{
	color: orange;
}
.main-content .purple a{
	color: purple;
}
.main-content .green a:hover{
	color: red;
}
.main-content .orange a:hover{
	color: red;
}
.main-content .purple a:hover{
	color: red;
}
.main-content .avatar{
	margin-bottom: 5px;
	max-height: 113px;
	overflow: hidden;
	border: 1px solid #ddd;
}
.main-content .avatar img{
	width: 100%;
	height: auto;
}
.main-content .avatar:hover{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}
.main-content .album-name{
	margin: 0;
	text-align: center;
}

#go-top{
	position: fixed;
	right: 5%;
	bottom: 5%;
}