/* ====================================
   Customize breadcrumbs
   ==================================== */

.breadcrumb {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 5px;
    @include font-size(16, 21);
    a {
        font-weight: bold;
        &::after {
            display: inline;
            content: '/';
            padding: 0 7px;
        }
        &.current {
            font-weight: normal;
            &:after {
                content: '';
            }
        }
    }
}
