/* ====================================
   All region in project
   ==================================== */


/* zone global style */

.zone {
    margin-bottom: 20px;
    > header {
        .zone-title {
            background-color: #f2f2f2;
            @include font-size(20, 40);
            padding-left: 10px;
            margin: 0;
            cursor: pointer;
            @include transition(background-color, 0.2, linear);
            &:hover {
                background-color: #ddd;
                .icon-wrap {
                    background-color: #ccc;
                }
            }
            position: relative;
            .icon-wrap {
                padding: 0 15px;
                border-left: 1px solid #fff;
                position: absolute;
                top: 0;
                right: 0;
                @include transition(background-color, 0.2, linear);
                [class*='sprites-'] {
                    position: relative;
                    top: -2px;
                }
            }
        }
    }
    // highlight talking box
    &.talking-box {
        .zone-title {
            margin-bottom: 10px;
            border-left: 3px solid $brand-primary;
        }
    }
    // hashtag box
    &.hashtag-box {
        .zone-title {
            padding-left: 0;
            margin-bottom: 10px;
            &::before {
                content: '#';
                font-size: 25px;
                display: inline-block;
                color: white;
                padding: 0 10px;
                margin-right: 7px;
                background-color: $brand-primary;
                font-weight: normal;
            }
        }
    }
    // zone in sidebar 
    &.sidebar-zone {
        &>header {
            .zone-title {
                border-bottom: 2px solid #d8d8d8;
                margin-bottom: 10px;
            }
        }
    }
    &.epaper-box {
        .zone-content {
            padding: 0 35px;
            position: relative;
            .slider-control {
                >span {
                    position: absolute;
                    top: 45px;
                    width: 20px;
                    height: 52px;
                    @include transition(all, 0.2, linear);
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                    @include haf() {
                        opacity: 0.5;
                    }
                }
                .slider-prev {
                    left: 0px;
                    background: url(../images/arrow-left.jpg) left top no-repeat;
                }
                .slider-next {
                    right: 0px;
                    background: url(../images/arrow-right.jpg) left top no-repeat;
                }
            }
        }
    }
    // voting box
    &.voting-box {
        .question {
            margin-top: 0;
            margin-bottom: 10px;
        }
        .action {
            @include clearfix;
            margin-top: 10px;
            text-align: right;
            .btn {
                margin-left: 10px;
            }
        }
    }
}


/* index - highlight zone */

// latest listing in highlight zone
.latest-listing {
    width: 200px;
    float: left;
    li {
        padding-top: 10px;
        border-bottom: 1px solid #ddd;
        &:last-child {
            border-bottom: none;
        }
    }
}

.talking-list {
    li {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// featured-zone in highlight zone
.featured-zone {
    .highlight-zone & {
        width: 450px;
        float: right;
    }
}

//ads style
.qc {
    @include clearfix;
    margin-bottom: 20px;
    clear: both;
    &.qc-center {
        text-align: center;
    }
}

// focus zone with 5 big articles
.focus-zone {
    position: relative;
    >header {
        position: absolute;
        top: 10px;
        left: -15px;
        display: inline-block;
        z-index: 10;
        .zone-title {
            background-color: $brand-primary;
            padding-right: 10px;
            font-weight: normal;
            font-size: 18px;
            font-size: 1.8rem;
            @include transition(background-color, 0.2, linear);
            a {
                color: white;
            }
            @include haf() {
                background-color: darken($brand-primary, 5%);
            }
        }
    }
}

//social share box
.social-share-box {
    @include clearfix;
    margin-left: -10px;
    margin-right: -10px;
    .item {
        display: block;
        float: left;
        width: 33%;
        padding: 10px;
        a {
            display: block;
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
            @include transition(all, 0.2, linear);
            >span {
                display: block;
                color: #092c4f;
            }
            .fa {
                font-size: 20px;
                margin-bottom: 8px;
            }
            .fa-facebook {
                color: #516eab;
            }
            .fa-google-plus {
                color: #e14e42;
            }
            .fa-twitter {
                color: #28c5f6;
            }
            .count {
                font-weight: bold;
                margin-bottom: 5px;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

// .most-view
.most-view {
    .most-view-listing {
        li {
            margin-bottom: 15px;
            padding-left: 50px;
            position: relative;
            min-height: 40px;
            .rank {
                width: 50px;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                @include font-size(30, 40);
                font-weight: bold;
                color: #ddd;
            }
        }
    }
}

// .video-box
.video-box {
    .icon-wrap {
        display: none;
    }
}

// large zone
.large-zone {
    > header {
        .zone-title {
            background: #fff url(../images/zone-title-deco.png) 0px 15px repeat-x;
            @include font-size(25, 40);
            padding-left: 0;
            @include haf() {
                background-color: transparent;
            }
            a {
                display: inline-block;
                background-color: white;
                padding-right: 10px;
            }
        }
    }
    .zone-content {
        margin-left: -7px;
        margin-right: -8px;
        font-size: 0;
    }
}

// clearfix for each row 
.row {
    @include clearfix;
}
