/* style for story */

.story {
    @include clearfix;
    .thumb {
        margin-bottom: 7px;
    }
    .title {
        font-size: 15px;
        font-size: 1.5rem;
        line-height: 1.4em;
        margin-top: 0;
        margin-bottom: 5px;
        font-weight: normal;
        a {
            color: #000;
        }
        time {
            color: #818283;
            font-weight: normal;
            font-size: .9em;
            margin-left: 3px;
        }
        // [class*='sprites-'] {
        //     margin-left: 5px;
        // }
        .sprites-comment {
            margin-right: 3px;
        }
        .comment-count {
            color: $brand-primary;
            font-weight: normal;
            font-size: .9em;
        }
        &:hover {
            a {
                color: $brand-primary;
            }
        }
    }
    .meta {
        color: #999;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .summary {
        @extend .meta;
        color: #555;
    }
    // story with bold title
    &.story-bold {
        .title {
            font-weight: bold;
        }
    }
    // story with left thumbnail
    &.story-left {
        .thumb {
            float: left;
            margin-right: 10px;
        }
        >header {
            .title {
                margin-top: -3px;
            }
        }
    }
    // story with right thumbnail
    &.story-right {
        .thumb {
            float: right;
            margin-left: 10px;
        }
        >header {
            .title {
                margin-top: -3px;
            }
        }
    }
    // story with red bullet 
    &.story-bullet {
        padding-left: 10px;
        background: url(../img/red-bullet.png) 0 6px no-repeat;
    }
    // story with mask 
    &.story-mask {
        position: relative;
        .title {
            position: absolute;
            padding: 10px;
            background: url(../images/story-mask.png) left bottom no-repeat;
            background-size: 100%;
            left: 0;
            bottom: 0;
            right: 0;
            margin-bottom: 0;
            a {
                color: white;
                @include haf() {
                    color: darken(white, 20%);
                }
            }
        }
    }
    &.story-video,
    &.story-photo {
        .thumb {
            position: relative;
            .icon-wrap {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 6px 15px;
                background-color: rgba(0, 0, 0, .7);
            }
        }
    }
    /* --- */
    // story in lastest listing - highlight zone
    li:nth-child(2) & {
        .latest-listing & {
            .title {
                font-size: 20px;
                a {
                    color: black;
                    @include haf() {
                        color: $brand-primary;
                    }
                }
            }
        }
    }
    // story in highlight zone - featured zone
    .featured-zone & {
        width: 220px;
        float: left;
        margin-right: 10px;
        &.focus-story {
            float: none;
            width: 100%;
            padding: 0;
            margin: 0 0 8px 0;
            .title {
                @include font-size(30, 36);
                font-weight: bold;
                a {
                    color: black;
                }
                &:hover {
                    a {
                        color: $brand-primary;
                    }
                }
            }
        }
        &:nth-child(2n) {
            float: right;
            margin-right: 0;
        }
    }
    // story in talking box 
    .talking-box & {
        .thumb {
            border-radius: 50%;
            overflow: hidden;
        }
    }
    // story in zone 
    .zone & {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }
        &.focus-story {
            .title {
                @include font-size(20, 28);
            }
        }
    }
    // story in hashtag box
    .hashtag-box & {
        .title {
            .sprites-note {
                margin-right: 5px;
            }
        }
    }
    // story in epaper-box
    .slider-listing li & {
        width: 110px;
    }
    // story in listing border box
    .listing-border-box & {
        padding-bottom: 0;
        border-bottom: none;
        .thumb {
            margin: 0;
        }
        >header {
            float: right;
            width: 220px;
            height: 60px;
            border: 1px solid #ddd;
            border-left: none;
            padding: 10px;
            overflow: hidden;
            @include transition(border-color, 0.2, linear);
        }
        .title {
            margin-top: 0;
        }
        &:hover {
            >header {
                border-color: #aaa;
            }
        }
    }
    // story in focus zone
    .focus-zone & {
        margin-bottom: 0;
        width: 245px;
        height: 180px;
        padding-bottom: 0;
        margin-bottom: 2px;
        float: left;
        .thumb {
            margin-bottom: 0;
        }
        &.first-story {
            width: 486px;
            height: 362px;
            margin-right: 2px;
            .title {
                @include font-size(20, 26);
            }
        }
    }
    // story in most view listing
    .most-view .most-view-listing & {
        .title {
            margin-bottom: 0;
        }
    }
    // story in video box
    .video-box & {
        width: 145px;
        float: left;
        margin-right: 10px;
        vertical-align: top;
        padding-bottom: 0;
        border-bottom: none;
        &:nth-child(2n) {
            margin-right: 0;
        }
        .thumb {
            position: relative;
            a::after {
                content: "";
                display: block;
                position: absolute;
                background: url(../images/ngaynay-sprites.png) no-repeat;
                background-position: -100px 0px;
                width: 18px;
                height: 18px;
                top: calc(50% - 9px);
                left: calc(50% - 9px);
            }
        }
    }
    // story in large zone with 4 columns
    .large-zone & {
        width: 25%;
        float: left;
        vertical-align: top;
        // margin-right: 15px;
        padding-left: 7px;
        padding-right: 8px;
        padding-bottom: 0;
        border-bottom: none;
        &:nth-child(5) {
            clear: left;
        }
        // &:nth-child(4n) {
        //     margin-right: 0;
        // }
    }
    // first story in highlight cate
    .cate-highlight & {
        &.first-story {
            margin-bottom: 15px;
            .thumb {
                margin-bottom: 0;
            }
            .title {
                margin-bottom: 0;
                @include font-size(26, 36);
            }
        }
    }
    // top story in highlight cate 
    .cate-highlight .top-story & {
        width: 325px;
        float: left;
        margin-right: 15px;
        &:nth-child(2n) {
            margin-right: 0;
        }
        .title {
            @include font-size(18, 24);
        }
    }
    // cate listing 
    .cate-listing & {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
        .title {
            @include font-size(18, 24);
        }
        .summary {
            margin-bottom: 0;
        }
        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
    .category-page &,
    .detail-page & {
        &.story-first {
            .title {
                @include font-size(18, 24);
            }
        }
    }
}
