/* share global style */
.form-control {
    &:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        border-color: $brand-success;
    }
}
.btn-border {
    background-color: transparent;
    border: 1px solid #333;
    color: #333;
    @include transition(background-color, 0.2, ease-out);
    @include haf() {
        background-color: #111;
        color: white;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
