/* ====================================
   Footer's style
   ==================================== */

#site-footer {
    padding: 20px 0;
    background: url(../images/gradient-line.png) left top repeat-x;
    p {
        margin-bottom: 5px;
        @include respond-to-xs {
            text-align: center;
        }
    }
    .footer-logo {
        img {
            @include haf() {
                opacity: 0.9;
            }
            @include respond-to-xs {
                @include center-block();
                margin-bottom: 10px;
            }
        }
    }
}
