ul,
li {
    list-style: none;
}

#modal-content >div>label {
    width: 50%;
    float: left
}


/* COMMENT */

#comments {
    display: none;
}

.commentbox {
    width: 100%;
    padding: 0 0 8px;
    margin: 0 0 8px 0;
    display: none;
    @include clearfix;
}

.commentbox header {
    padding: 0 5px 0 0px;
    margin-bottom: 0;
    font-size: 14px;
}

.commentbox header h1 {
    font-family: $font-family-itim;
    @include font-size(24, 33);
    color: $brand-primary;
    margin-bottom: 7px;
}

.commentbox .form {
    @include clearfix;
    width: 100%;
    padding: 0 0;
    textarea,
    input {
        @extend .form-control;
        margin-bottom: 10px;
        min-height: 4.2em;
    }
}

.commentbox .form p {
    width: 100%;
    border-bottom: 1px solid #eee;
    width: 50%;
}

.commentbox .form p.author {
    border-right: 1px solid #eee;
}

.commentbox .form p.content {
    width: 100%;
    border: 0;
    position: relative;
}

.commentbox .form p.content label {
    width: auto;
    display: block;
    text-align: left;
}

.commentbox .form p.content label strong {
    color: #009CCE;
}

.commentbox .form p.content .avatar {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.commentbox .form label {
    display: inline-block;
    text-transform: uppercase;
    color: #555;
    margin-right: 10px;
    font-size: 12px;
}

.commentbox .form .note {
    display: block;
    float: left;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 15px;
    font-size: 12px;
    border: none;
}

.commentbox .form .note span {
    display: inline-block;
    margin: 0 10px;
    opacity: 0.5;
    line-height: 15px;
}

.commentbox .form .note span:before {
    content: ' ';
    background: #ccc;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 15px;
    margin-right: 5px;
}

.commentbox .form .note span.ok {
    opacity: 1;
    font-weight: bold;
    color: #4B9100;
}

.commentbox .form .note span.ok:before {
    content: ' ';
    background: #4B9100;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 15px;
    margin-right: 5px;
}

.commentbox .form .note span.fail {
    color: #f00;
    opacity: 1;
}

.commentbox .form .note span.fail:before {
    content: ' ';
    font-weight: bold;
    font-size: 12px;
    background: #f00;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 15px;
    margin-right: 5px;
}

.commentbox .form .info.warning {
    color: #f00;
    background: #FFFDC7;
}

.commentbox .form .btnSubmit {
    float: right;
    @extend .btn;
    @extend .btn-border;
    &.disabled {
        @extend .disabled;
    }
    font-weight: normal !important;
    color: #555 !important;
    @include haf(){
    	color: white !important;
    }
}

.commentbox .order {
    float: left;
    clear: both;
    width: 100%;
    font-size: 0.9em;
    padding: 5px 0;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.commentbox .order > * {
    display: inline-block;
    margin-right: 5px;
    padding: 3px 10px 2px;
    border-radius: 3px;
    border: 1px solid #fff;
    white-space: nowrap;
}

.commentbox .order label {
    background: #FFF583;
}

.commentbox .order a:hover {
    border: 1px dashed #ddd;
}

.commentbox .order a.current {
    border: 1px solid #ddd;
    background: #fcfcfc;
}

.commentbox .comments {
    float: left;
    width: 97%;
    margin-left: 3%;
    border-left: 1px solid #ccc;
}

.commentbox .comments li {
    float: left;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 20px;
    font-size: 0.9em;
    line-height: 1.4;
    color: #555;
}

.commentbox .comments li.preview {
    background: #fcfcfc;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.commentbox .comments li.preview:after {
    content: 'Bình luận đang chờ duyệt';
    display: inline-block;
    margin: 8px 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #888;
    background: #FFFCB6;
    padding: 4px 10px 2px;
}

.commentbox .comments li .meta {
    display: block;
    position: relative;
    left: -33px;
    line-height: 20px;
    color: #888;
}

.commentbox .comments li .meta span {
    text-transform: uppercase;
    color: #000;
}

.commentbox .comments li .meta span.time {
    color: #aaa;
    display: none;
    font-size: 10px;
}

.commentbox .comments li:hover .meta span.time {
    display: inline;
    float: none;
}

.commentbox .comments li.noavatar > .meta:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    margin-right: 10px;
    position: relative;
    top: 7px;
}

.commentbox .comments li .meta img.avatar {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    vertical-align: middle;
    position: relative;
    left: -3px;
    margin-right: 3px;
}

.commentbox .comments li .comment-content {
    font-size: 1.1em;
    line-height: 1.4;
}

.commentbox .comments li .comment-quote {
    margin: 20px 0px 20px 25px;
    font-size: 12px;
    border-left: 2px solid #ccc;
    padding: 10px 21px 15px;
    background: #f7f7f7;
    display: none;
}

.commentbox .comments li .comment-quote .meta {
    left: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

.commentbox .comments li .comment-actions {
    font-size: 11px;
    width: 100%;
    color: #555;
    text-transform: uppercase;
    margin-top: 5px;
}

.commentbox .comments li .comment-actions a {
    display: inline-block;
    margin-right: 20px;
    padding-left: 20px;
    line-height: 23px;
    height: 20px;
    color: #009CCE;
}

.commentbox .comments li .comment-actions.disabled a {
    color: #888;
}

.commentbox .comments li .comment-actions a.active {
    color: #009CCE !important;
    font-weight: bold;
}

.commentbox .comments li .comment-actions a.btnLike {
    background: url(../images/icon_like.png) no-repeat left 50%;
    background-size: 16px;
}

.commentbox .comments li .comment-actions a.btnDislike {
    background: url(../images/icon_dislike2.png) no-repeat left 5px;
    background-size: 16px;
    display: none;
}

.commentbox .comments li .comment-actions a.btnReply {
    background: url(../images/icon_reply.png) no-repeat left 5px;
    background-size: 16px;
    color: #000;
    display: none;
    white-space: nowrap;
}

.commentbox .comments > li:hover {
    background: #fafafa;
}

.commentbox .comments li:hover .comment-actions a.btnReply {
    display: inline-block;
}

.commentbox .comments li .comment-actions .reply {
    margin: 15px 30px;
}

.commentbox .comments li .comment-actions .reply textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

.commentbox .comments li .comment-actions .reply .btnSubmit {
    display: block;
    float: right;
    border-radius: 3px;
    padding: 0px 10px;
    cursor: pointer;
    background: #53853a;
    color: #fff;
    height: auto;
    margin: 0;
    margin-top: 5px;
}

.commentbox .comments li ul.replies {
    float: right;
    width: 95%;
    margin-top: 10px;
    background: #fafafa;
}

.commentbox .comments li ul.replies li {
    border-left: 1px solid #CCC;
    margin: 0;
    padding: 5px 20px;
}

.commentbox .btnMore {
    display: inline-block;
    margin-left: 5%;
    left: -12px;
    position: relative;
    color: #39C;
}

.commentbox .comments li .btnMore {
    margin-top: 10px;
    left: 0;
}

.commentbox .btnMore:before {
    content: '•••';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    color: #888;
    margin-right: 10px;
    position: relative;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    top: -1px;
}

.commentbox .comments li .btnMore:before {
    content: '';
    display: none;
}

.commentbox .form .sharefb {
    float: left;
    color: #3B5998;
    margin-top: 5px;
    font-size: 12px;
}

.commentbox .form .sharefb input {
    position: relative;
    top: -1px;
}

#dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 9999999;
    display: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -box-shadow: 0 0 10px rgba(0, 0, 0, .4)
}

#dialog>div {
    width: 600px;
    max-width: 80%;
    position: fixed;
    top: 10%;
    left: 40%;
    margin: 0 0 0 -200px;
    background: #fff;
    overflow: hidden;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .4)
}

#dialog .header {
    font-size: 1em;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 6px 15px;
    background: #A50A02;
    color: #fff
}

#dialog .content {
    width: 100%;
    padding: 20px 15px;
    font-size: 0.9em;
    line-height: 1.4
}

#dialog .content>div,
#dialog .content>form {
    width: 100%;
    margin-top: 5px
}

#dialog .content>div p {
    margin-bottom: 10px
}

#dialog .content label {
    display: block;
    color: #888;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px
}

#dialog .content input[type=text] {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#dialog .content input[type=radio] {
    position: relative;
    top: -2px
}

#dialog .content form label {
    text-transform: none;
    color: #555;
    font-size: 1em;
    padding: 5px 0;
    border-radius: 5px
}

#dialog .content form p {
    margin: 8px 0
}

#dialog .content p.label {
    text-transform: uppercase;
    color: #555;
    font-size: 1.2em
}

#dialog .content blockquote {
    font-style: italic;
    font-size: 1.3em;
    line-height: 1.2;
    margin: 5px 20px 15px
}

#dialog .content blockquote.error {
    color: red
}

#dialog .content textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 12px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 3px
}

#dialog .action {
    text-align: center;
    padding: 5px 0;
    background: #eee
}

#dialog .action button {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 2px 1px 0 #ddd;
    cursor: pointer;
    margin: 0 10px;
    white-space: nowrap
}

#dialog .action button.btnSubmit,
#dialog .action button:hover {
    border-color: #0098D3;
    color: #0098D3
}

#dialog .action button.btnSubmit {
    display: none
}

#dialog table {
    border: 1px solid #ccc
}

#dialog table th {
    background-color: #15a1b1;
    color: #fff;
    text-align: center
}

#dialog table td {
    padding: 5px
}

#modal-content>div>label {
    width: 50%;
    float: left
}
