/* site-wrap */

body {
    background: url(../img/body-bg.png) top 50px center no-repeat #f1f4f6;
    background-size: 480px 90px;
    @include respond-to-md() {
        background-size: 959px 179px;
    }
}

.nav-bar {
    float: left;
    width: 14%;
    @include transition(width, 0.2, ease-out);
    &.nav-sm {
        width: 5%;
    }
}

.content {
    float: left;
    width: 86%;
    @include transition(width, 0.2, ease-out);
    &.content-lg {
        width: 95%;
        text-align: center;
    }
}

#site-content {
    @include clearfix();
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .nav-bar {
        background-color: #232c32;
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-y: auto;
    }
    .content {
        background: #fff;
        padding: 15px 20px;
        margin-left: 14%;
        height: 100%;
        overflow-y: auto;
        &.content-lg{
            margin-left: 5%;
        }
    }
}


/* column width  */

.list-name,
.file-name {
    width: 55%;
    float: left;
}

.list-date,
.file-date,
.list-action,
.file-action {
    width: 17%;
    float: left;
}

.list-size,
.file-size {
    width: 11%;
    float: left;
}
