/* ===============================
   Header's style   
   =============================== */

.site-header {
    z-index: 10;
    &__top-bar {
        @include clearfix();
        padding: 25px 0;
        .logo {
            text-align: center;
            float: left;
            @include breakpoint(sm) {
                float: left;
            }
        }
    }
    &__related-links {
        @include clearfix();
        @include font-size(18, 35);
        @include breakpoint(sm) {
            display: block;
            float: right;
            margin-top: 0;
        }
        li {
            float: left;
            margin-left: 30px;
            text-transform: uppercase;
            a {
                .cover & {
                    color: white;
                    &:hover {
                        color: #ccc;
                    }
                }
            }
        }
        .fa {
            margin-right: 8px;
        }
    }
    &__related-addition {
        @include font-size(16, 30);
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        text-align: right;
        padding: 10px 20px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.9);
        z-index: 10;
        @include breakpoint(sm) {
            width: initial;
        }
        li {
            display: block;
            float: none;
            margin-left: 0;
        }
    }
    &__btn-group {
        float: right !important;
        @include breakpoint(sm) {}
        .btn {
            width: 35px;
            height: 35px;
            position: relative;
            border-radius: 50%;
            text-align: center;
            padding: 0;
            margin: 0 5px;
            @include font-size(17, 35);
            -webkit-box-shadow: 0px 0px 10px 3px rgba(245, 164, 34, .6);
            box-shadow: 0px 0px 10px 3px rgba(245, 164, 34, .6);
            .fa {
                margin-right: 0;
            }
            .badge {
                border-radius: 50%;
                position: absolute;
                background-color: $brand-primary;
                color: white;
                padding: 3px 5px;
                font-size: 12px;
                line-height: 1;
                top: -2px;
                right: -2px;
                min-width: 15px;
                min-height: 15px;
            }
        }
        .btn-info {
            @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
        }
    }
    &__quick-search {
        display: none;
        height: 45px;
        overflow: hidden;
        border: 1px solid #c9c9c9;
        @include font-size(18, 43);
        border-radius: 4px;
        @include breakpoint(md) {
            display: block;
            float: right;
            min-width: 400px;
            margin-right: 20px;
        }
        .fa {
            padding: 0 10px;
        }
        > input {
            border: none;
            width: 80%;
            @include haf() {
                outline: none;
            }
        }
        // display in modal
        .modal & {
            display: block;
        }
    }
}

@include Block(site-header) {
    @include Modifier(detail) {
        border-bottom: 1px solid #ddd;
        background-color: white;
        &.affix {
            left: 0;
            right: 0;
            top: 0;
        }
    }
    @include Element(slogan) {
        color: white;
        position: relative;
        h2 {
            font-size: 24px;
            line-height: 1.5em;
            @include breakpoint(md) {
                font-size: 32px;
            }
        }
        small {
            display: inline-block;
            color: white;
            line-height: 1em;
            margin-top: 10px;
            font-size: 18px;
            @include breakpoint(md) {
                font-size: 20px;
                margin-top: 0;
            }
        }
        .cta-group {
            margin-top: 20px;
            @include breakpoint(xs) {
                text-align: center;
            }
            @include breakpoint(md) {
                text-align: left;
                margin-top: 0;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .btn-border {
            min-width: 130px;
            margin-right: 15px;
            color: white;
            border-color: white;
            @include haf() {
                background-color: $brand-primary;
                border-color: $brand-primary;
            }
        }
    }
}

.cover {
    // background: url(../img/header-bg.png) center top no-repeat;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include breakpoint(md) {
        padding-bottom: 60px;
    }
}
