/* site-wrap */

.site-wrap {
    @include clearfix;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    #site-content & {
        margin-bottom: 30px;
    }
}

.site-content {
    @include clearfix;
    margin: 70px 0;
}

.zone {
    margin-bottom: 30px;
}


/* home slider */

.slider-zone {
    .bx-wrapper {
        max-width: 100% !important;
    }
}

.main-content {
    @include respond-to-xs {
        margin-bottom: 20px;
    }
}
