/* ====================================
   All region in project
   ==================================== */

@include Block(zone) {
    margin-bottom: 70px;
    @include clearfix();
    @include Element(header) {
        text-align: center;
        margin-bottom: 20px;
        h2,
        p {
            margin-bottom: 10px;
        }
        .fa {
            font-size: 72px;
            color: $brand-primary;
        }
    }
    @include Element(header-link) {
        color: $brand-primary;
        font-weight: bold;
        @include font-size(18, 20);
        text-transform: uppercase;
    }
    @include Modifier(is-last) {
        margin-bottom: 0;
    }
}

.qc {
    margin-bottom: 20px;
    text-align: center;
}
