/* ====================================
   All region in project
   ==================================== */


/* zone global style */

.zone {
    margin-bottom: 20px;
    > header {
        margin-bottom: 10px;
        .zone-title {
            font-family: $font-family-itim;
            @include font-size(30, 30);
            a {
                color: $brand-primary;
                @include haf() {
                    color: $brand-warning;
                }
            }
        }
    }
    /* slider-zone */
    &.slider-zone,
    &.album-zone {
        position: relative;
        .slider-control {
            .fa {
                @extend .btn;
                @extend .btn-border;
                min-width: 33px;
                a {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
                &.fa-angle-left {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &.fa-angle-right {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
        /* album-zone */
        &.album-zone {
            .slider-control {
                .fa {
                    &.fa-angle-left {
                        left: calc(100% - 76px);
                    }
                }
            }
        }
    }
}


/* .zone highlight  */

.highlight-zone {
    .story {
        margin-bottom: 10px;
    }
    .story-cover {
        margin-bottom: 0;
    }
}


/* .story-listing  */

.story-listing {
    .story {
        margin-bottom: 20px;
    }
}


/* quote zone */

.quote-zone {
    position: relative;
    font-family: $font-family-itim;
    color: white;
    @include font-size(24, 28);
    .quote-img {
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #000;
            opacity: 0.6;
        }
    }
    .quote-content {
        position: absolute;
        top: 50%;
        left: 20px;
        right: 20px;
        padding-left: 54px;
        padding-right: 54px;
        .quote-text {
            margin-bottom: 10px;
            // position: absolute;
            // top: 50%;
            &::before {
                content: '';
                display: inline;
                font-family: "fontawesome";
                font-size: 44px;
                position: absolute;
                top: -0px;
                left: -0px;
            }
            &::after {
                content: '';
                display: inline;
                font-family: "fontawesome";
                font-size: 44px;
                position: absolute;
                bottom: -0px;
                right: -0px;
            }
        }
    }
    @include respond-to-xs {
        min-height: 228px;
        background-color: #111;
        .quote-content {
            @include font-size(16, 21);
        }
    }
    &.no-img {
        .quote-content {
            position: static;
            margin-top: 0 !important;
            background-color: #111;
            padding: 54px;
            .quote-text {
                &::before {
                    top: 25px;
                    left: 15px;
                }
                &::after {
                    bottom: 25px;
                    right: 15px;
                }
            }
        }
        @include respond-to-xs {
            min-height: initial;
        }
    }
}


/* featured zone */

.featured-zone {
    >header {
        text-align: center;
        background: #ff7648;
        background: url(../images/gradient-deco.png) 0 0 no-repeat;
        margin-bottom: 0;
        .zone-title {
            line-height: 40px;
            a {
                color: white;
                @include haf() {
                    color: #ccc;
                }
            }
        }
        @include respond-to-xs {
            background-size: cover;
        }
    }
    .zone-content {
        padding: 20px;
        border-bottom: 1px solid #ee7f4c;
        border-left: 1px solid #ff7547;
        border-right: 1px solid #ff193d;
    }
}


/* .top-user */

.top-user {
    .user {
        margin-bottom: 10px;
        &:last-child {
            @include last-child-y();
        }
    }
}


/* sidebar grid zone */

.grid-zone {
    .row {
        margin-bottom: 10px;
        @include last-child-y();
    }
}


/* .box-slider */

.box-slider {
    .box-title {
        text-align: center;
        font-family: $font-family-itim;
        margin-bottom: 10px;
        .fa {
            margin-right: 5px;
            &.fa-male {
                color: $brand-success;
            }
            &.fa-female {
                color: $brand-primary;
            }
        }
    }
    .bx-pager {
        text-align: center;
        margin: 10px 0;
        .bx-pager-item {
            display: inline-block;
            margin: 0 5px;
            text-indent: -9999em;
            a {
                display: block;
                background-color: #999;
                width: 10px;
                height: 10px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
                &.active {
                    background-color: $brand-primary;
                }
            }
        }
    }
}

.qc {
    margin-bottom: 20px;
    &.qc-center,
    &.middle-qc {
        text-align: center;
    }
}
