a.a-link {
    color: $brand-primary;
    &:hover {
        text-decoration: underline;
    }
}


/* button border  */

.btn {
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: none;
    @include transition(all, 0.2, ease-out);
    .fa {
        margin-right: 5px;
    }
    &:focus,
    &:active,
    &:active:focus {
        outline: none;
    }
}

.btn-border {
    border: 1px solid #555;
    background-color: transparent;
    color: #555;
    @include transition(all, 0.2, ease-out);
    @include haf() {
        background-color: #111;
        color: white;
    }
}

.btn-round {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.form-control {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    &:focus {
        border-color: darken($brand-primary, 15%);
    }
}


/* .big-heading */

.big-heading {
    @include clearfix;
    @include font-size(30, 40);
    font-family: $font-family-itim;
    color: $brand-primary;
    margin-bottom: 20px;
    .fa {
        margin-right: 7px;
    }
    .heading-desc {
        @include font-size(14, 19);
        color: #111;
        font-family: $font-family-base;
    }
}


/* style for checkbox & radiobox */

.check-box {
    // position: relative;
    input[type=checkbox],
    input[type=radio] {
        display: none;
        &:checked + label::before {
            content: "";
            font-family: "fontawesome";
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
            font-size: 20px;
            line-height: 10px;
            color: #666;
            text-align: center;
            -webkikt-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
        }
    }
    label {
        margin-bottom: 0;
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        font-size: 13px;
        font-weight: normal;
        &::before {
            content: "";
            border-radius: 3px;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            bottom: 1px;
            border: 1px solid #ddd;
            background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(239, 241, 244, 1) 100%);
            -webkikt-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
        }
    }
}

.radio-box {
    @extend .check-box;
    input[type=radio] {
        &:checked + label::before {
            content: '';
            font-size: 7px;
            text-align: center;
            line-height: 14px;
        }
    }
    label {
        &::before {
            border-radius: 50%;
        }
    }
}


/* progress bar */

.progress {
    height: 32px;
    border-radius: 16px;
    &-bar {
        line-height: 32px;
        text-align: left;
        color: black;
        padding-left: 15px;
        .pull-right {
            font-size: 1.1em;
            padding-right: 10px;
        }
    }
}


/* sorting bar */

@include Block(sorting-bar) {
    @include clearfix();
    margin-bottom: 15px;
    @include Element(label) {
        font-size: 14px;
        font-weight: bold;
        float: left;
        margin-right: 30px;
    }
    @include Element(filter) {
        margin-right: 30px;
        float: left;
        &.is-active {
            a {
                text-decoration: underline;
            }
        }
    }
}


/* timeout-bar */

.timeout-bar {
    margin-bottom: 15px;
    text-align: right;
    @include clearfix();
    >span {
        border-radius: 5px;
        padding: 3px 10px;
        background-color: #ddd;
        font-weight: bold;
    }
}


/* .loading-box */

.loading-box {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $gray-lighter;
    &__wrap {
        padding: 30px;
        border-radius: 5px;
        background: white;
        text-align: center;
        width: 50%;
        margin: 30px auto;
        .is-child & {
            width: 100%;
            margin-top: 0;
        }
    }
    &.is-child {
        position: static;
    }
}


/* not found box */

.not-found {
    margin-bottom: 30px;
    padding: 20px;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    >* {
        margin-bottom: 5px;
    }
}


/* bigmap */

.big-map {
    // display: none;
    // width: 0;
    // height: 0;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    .wrapper {
        margin-bottom: 10px;
    }
}


/* bread crumb */

.breadcrumb {
    padding: 0;
    margin-bottom: $line-height-computed;
    list-style: none;
    background-color: none;
    border-radius: $border-radius-base;
    font-weight: bold;
    > li {
        display: inline-block;
        + li:before {
            // [converter] Workaround for https://github.com/sass/libsass/issues/1115
            $nbsp: "\00a0";
            content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 5px;
            color: #000;
        }
    }
    > .active {
        color: #000;
        font-size: 18px;
        &::before {
            font-size: 14px;
        }
    }
}

.register-btn {
    margin-bottom: 20px;
    @include breakpoint(md) {
        margin-bottom: 0;
        text-align: right;
    }
}


/* popup message */

.popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    &__message {
        z-index: 101;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #d0d0d0;
        margin-left: -150px;
        transform: translate(0, -50%);
        background: white;
        box-shadow: 0 0px 15px 0px rgba(255, 255, 255, 0.66);
        >p,
        div {
            margin-bottom: 10px;
            @include last-child-y;
        }
    }
    &__close {
        position: absolute;
        top: 5px;
        right: 5px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
    }
}
