/* ====================================
   Heading's style
   ==================================== */

.region-heading {
    @include breakpoint(xs) {
        padding: 0px 15px;
        margin-left: -15px;
        margin-right: -15px;
        border-top: 2px solid #E53B19;
        border-bottom: 1px solid #ddd;
        @include clearfix;
        >h2 {
            float: left;
            margin: 0px;
            line-height: 25px;
            padding-bottom: 6px;
            >a {
                @include font($font-family-serif, 14, 14, $bold);
                text-transform: uppercase;
            }
        }
        >i.fa {
            float: right;
            padding: 7px 0 0px;
        }
        ul.sub {
            display: none;
        }
    }
    @include breakpoint(sm) {
        padding: 6px 10px 0;
        border-top: 1px solid #E64C3C;
        @include clearfix;
        >h2 {
            float: left;
            padding: 0px;
            margin: 0px;
            line-height: 29px;
            display: block;
            >a {
                @include font($roboto-cnd, 22, 29, $bold);
                text-transform: uppercase;
            }
        }
        >i.fa {
            display: none;
        }
        ul.sub {
            float: left;
            margin: 3px 0 0 10px;
            padding: 0;
            li {
                list-style-type: none;
                display: inline-block;
                a {
                    @include font($font-family-sans-serif, 12, 34, $normal);
                    display: inline-block;
                    padding: 0 5px;
                }
                &:not(:last-child):after {
                    content: "/";
                }
            }
        }
    }
}

.mini-heading {
    @include breakpoint(xs) {
        display: none;
    }
    @include breakpoint(sm) {
        padding: 0px 10px;
        border-top: 1px solid #E64C3C;
        @include clearfix;
        >h2 {
            padding: 0px;
            margin: 0px;
            padding-top: 6px;
            >a {
                @include font($roboto-cnd, 16, 21, $bold);
                text-transform: uppercase;
                display: block;
            }
        }
    }
}

.topic-heading {
    @include breakpoint(xs) {
        display: none;
    }
    @include breakpoint(sm) {
        border-top: 1px solid #E64C3C;
        @include clearfix;
        >h2 {
            padding: 0px;
            margin: 0px;
            padding-top: 6px;
            >a {
                @include font($font-family-serif, 13, 19, $bold);
                text-transform: uppercase;
                display: block;
            }
        }
    }
}

.miss-heading {
    @include breakpoint(xs) {
        display: none;
    }
    @include breakpoint(sm) {
        height: 22px;
        background: #fff url(../img/common/miss-header.png) 0 0 no-repeat;
        @include clearfix;
        >h2 {
            padding: 0px;
            margin: 0px;
            padding-left: 10px;
            >a {
                @include font($font-family-serif, 13, 22, $bold);
                text-transform: uppercase;
                display: block;
                color: #fff;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.news99-heading {
    @include breakpoint(xs) {
        display: none;
    }
    @include breakpoint(sm) {
        height: 37px;
        background: #fff url(../img/common/news-99.png) 0 0 no-repeat;
        border-top: 1px solid #E64C3C;
        @include clearfix;
        >h2 {
            padding: 0px;
            margin: 0px;
            >a {
                display: block;
                text-indent: -999em;
                line-height: 37px;
                &:hover {
                    opacity: .1;
                    background-color: $gray-base;
                }
            }
        }
    }
}

.location-heading {
    width: 160px;
    @include breakpoint(xs) {
        display: none;
    }
    @include breakpoint(sm) {
        height: 22px;
        background-color: #E53B19;
        @include clearfix;
        >h2 {
            padding: 0px;
            margin: 0px;
            float: left;
            padding-left: 10px;
            >a {
                @include font($font-family-sans-serif, 12, 22, $bold);
                display: block;
                color: #fff;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .location {
            width: 75px;
            float: right;
            position: relative;
            text-align: right;
            overflow: hidden;
            padding-top: 1px;
            select {
                @include font($font-family-serif, 12, 21, $normal);
                border: none;
                background: none;
                color: #fff;
                position: relative;
                z-index: 2;
                option {
                    background-color: #ccc;
                }
                &:focus {
                    outline-offset: 2px;
                }
            }
            &:after {
                content: "";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-size: 14px;
                position: absolute;
                right: 4px;
                top: 4px;
                color: #fff;
                z-index: 1;

            }
        }
    }
}
