[class*='sprites-'] {
    cursor: pointer;
    display: inline-block;
    background: url(../images/kiennghi-sprites.png) no-repeat;
}

.sprites-menu {
    background-position: 0px 0px;
    width: 24px;
    height: 16px;
}