/* style for story */

.story {
    @include clearfix;
    .thumb {
        margin-bottom: 7px;
    }
    .title {
        @include font-size(14, 19);
        margin-top: 0;
        margin-bottom: 5px;
        font-weight: normal;
        a {
            color: #000;
            display: block;
        }
        time {
            color: #818283;
            font-weight: normal;
            font-size: .9em;
            margin-left: 3px;
        }
        // [class*='sprites-'] {
        //     margin-left: 5px;
        // }
        .sprites-comment {
            margin-right: 3px;
        }
        .comment-count {
            color: $brand-primary;
            font-weight: normal;
            font-size: .9em;
        }
        &:hover {
            a {
                color: $brand-primary;
            }
        }
    }
    .meta {
        color: #999;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .summary {
        @extend .meta;
        color: #555;
    }
    // story with bold title
    &.story-bold {
        .title {
            font-weight: bold;
        }
    }
    // story with left thumbnail
    &.story-left {
        .thumb {
            float: left;
            margin-right: 10px;
        }
        >header {
            .title {
                margin-top: -3px;
            }
        }
    }
    // story with right thumbnail
    &.story-right {
        .thumb {
            float: right;
            margin-left: 10px;
        }
        >header {
            .title {
                margin-top: -3px;
            }
        }
    }
    // story with red bullet 
    &.story-bullet {
        padding-left: 10px;
        background: url(../img/red-bullet.png) 0 6px no-repeat;
    }
    // story with mask 
    &.story-mask {
        position: relative;
        .title {
            position: absolute;
            padding: 10px;
            background: url(../images/story-mask.png) left bottom no-repeat;
            background-size: 100%;
            left: 0;
            bottom: 0;
            right: 0;
            margin-bottom: 0;
            a {
                color: white;
                @include haf() {
                    color: darken(white, 20%);
                }
            }
        }
    }
    &.story-video,
    &.story-photo {
        .thumb {
            position: relative;
            .icon-wrap {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 6px 15px;
                background-color: rgba(0, 0, 0, .7);
            }
        }
    }
    /* --- */
    // story in lastest listing - highlight zone
    li:first-child & {
        .latest-listing & {
            .title {
                font-size: 20px;
                a {
                    color: black;
                    @include haf() {
                        color: $brand-primary;
                    }
                }
            }
        }
    }
    // story in highlight zone - featured zone
    .featured-zone & {
        width: 220px;
        float: left;
        margin-right: 10px;
        &.focus-story {
            float: none;
            width: 100%;
            padding: 0;
            margin: 0 0 8px 0;
            .title {
                @include font-size(30, 36);
                font-weight: bold;
                a {
                    color: black;
                }
                &:hover {
                    a {
                        color: $brand-primary;
                    }
                }
            }
        }
        &:nth-child(2n) {
            float: right;
            margin-right: 0;
        }
    }
    // story in talking box 
    .talking-box & {
        .thumb {
            border-radius: 50%;
            overflow: hidden;
        }
    }
    // story in zone 
    .zone & {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }
    }
    .extend-info {
        display: none;
        .meta {
            margin-bottom: 4px;
            @include clearfix;
            @include font-size(12, 17);
            .thumb {
                float: left;
                margin-right: 8px;
            }
            .name {
                @include font-size(12, 17);
                color: #333;
                text-transform: uppercase;
                margin-bottom: 4px;
            }
            .time {
                color: #999;
            }
        }
    }
    &.full-info {
        .title {
            @include font-size(16, 22);
            margin-bottom: 8px;
            font-weight: bold;
        }
        .extend-info {
            display: block;
        }
    }
    .listing-box-story & {
        background-color: #fff;
        -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .16);
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .16);
        padding: 8px;
        margin-bottom: 16px;
    }
}
