/* ====================================
   Customize Pagination
   ==================================== */

.pagination {
    margin-top: 0;
    @include clearfix;
    display: block;
    li {
        display: inline-block;
        > a {
            color: white;
            margin-right: 10px;
            background-color: #999;
            border: none;
            @include transition(all, 0.2, ease-out);
        }
        &.active {
            >a {
                background-color: $brand-primary;
            }
        }
    }
}
