/* ====================================
   All region in project
   ==================================== */


/* zone global style */

.zone {
    margin-bottom: 20px;
    > header {
        margin-bottom: 10px;
        .zone-title {
            font-family: $font-family-special;
            @include font-size(22, 26);
            text-transform: uppercase;
            a {
                position: relative;
                display: block;
                padding-top: 10px;
                @include transition(all, 0.2, ease-out);
                border-top: 2px solid #ddd;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: -2px;
                    width: 120px;
                    height: 2px;
                    background-color: $brand-primary;
                    @include transition(all, 0.2, ease-out);
                }
                @include haf() {
                    color: $brand-primary;
                }
            }
        }
    }
    // zone with red title
    &.red-title {
        >header {
            .zone-title {
                a {
                    color: $brand-primary;
                    @include haf() {
                        color: $gray;
                        &::before {
                            background-color: $gray;
                        }
                    }
                }
            }
        }
    }
    /* slider-zone */
    &.zone-slider,
    &.album-zone {
        position: relative;
        .bx-viewport {
            margin-bottom: 10px;
        }
        .bx-pager {
            text-align: center;
            .bx-pager-item {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
                height: 35px;
                a {
                    display: block;
                    text-indent: -9999em;
                    width: 8px;
                    height: 8px;
                    margin-top: 13px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    border-radius: 50%;
                    background-color: #d8d8d8;
                    &.active {
                        background-color: $brand-primary;
                    }
                }
            }
        }
        .slider-control {
            .fa {
                @extend .btn;
                @extend .btn-border;
                min-width: 33px;
                a {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
                &.fa-angle-left {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
                &.fa-angle-right {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
    // slider with caption
    .slider-caption {
        li {
            position: relative;
            .caption {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                padding: 10px;
                background-color: rgba(0, 0, 0, .5);
                color: white;
            }
        }
    }
}


/* featured zone */

.featured-zone {
    .story-listing {
        @include respond-to-xs() {
        margin-top: 10px;
        }
    }
}



/* .box-slider */

.box-slider {
    .box-title {
        text-align: center;
        font-family: $font-family-itim;
        margin-bottom: 10px;
        .fa {
            margin-right: 5px;
            &.fa-male {
                color: $brand-success;
            }
            &.fa-female {
                color: $brand-primary;
            }
        }
    }
    .bx-pager {
        text-align: center;
        margin: 10px 0;
        .bx-pager-item {
            display: inline-block;
            margin: 0 5px;
            text-indent: -9999em;
            a {
                display: block;
                background-color: #999;
                width: 10px;
                height: 10px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
                &.active {
                    background-color: $brand-primary;
                }
            }
        }
    }
}

.qc {
    @include clearfix();
    margin-bottom: 20px;
    text-align: center;
}
