/* style for story */

.story {
    @include clearfix;
    .thumb {
        margin-bottom: 8px;
    }
    .title {
        @include font-size(16, 22);
        font-weight: normal;
        @include respond-to-sm() {
            @include font-size(15, 21);
        }
        .fa {
            margin-left: 3px;
            font-size: .8em;
        }
    }
    .cate {
        a {
            color: $brand-primary;
        }
    }
    .summary,
    .meta {
        color: $gray-light;
        @include font-size(12, 18);
        >span {
            margin-right: 15px;
        }
        .fa {
            margin-right: 5px;
            font-size: 0.9em;
        }
        .mega-menu & {
            color: #aaa;
        }
    }
    .cate,
    .title,
    .summary,
    .meta {
        margin-bottom: 5px;
    }
    .related-story {
        .title {
            font-size: 14px !important;
            line-height: 1.9rem !important;
            font-weight: normal !important;
        }
    }
    // story with bold title
    &.story-bold {
        .title {
            font-weight: bold;
        }
    }
    // story cover
    &.story-cover {
        .title {
            @include font-size(16, 22);
            font-weight: bold;
        }
        .highlight-zone & {
            .title {
                @include font-size(20, 28);
            }
        }
    }
    // story video
    &.story-video {
        .thumb {
            position: relative;
            &::after {
                position: absolute;
                top: 7px;
                left: 7px;
                content: '';
                display: block;
                font-size: 24px;
                line-height: 1em;
                font-family: "fontawesome";
                color: white;
                opacity: .5;
                text-shadow: 1px 1px 2px #000;
            }
        }
    }
    // story with bullet 
    &.story-bullet {
        margin-bottom: 8px;
        @include last-child-y;
        .title {
            &::before {
                content: '';
                display: inline;
                margin-right: 5px;
                font-family: "fontawesome";
            }
        }
    }
    /* story in zone  */
    // latest zone
    .latest-zone & {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        @include last-child-y();
    }
    // ranking zone
    .story-listing &,
    .ranking-zone & {
        margin-bottom: 10px;
        @include last-child-y();
    }
    .ranking-zone & {
        position: relative;
        .ranking {
            position: absolute;
            right: 10px;
            top: 50%;
            font-family: $font-family-special;
            @include font-size(44, 25);
            color: #ddd;
            opacity: 0.6;
            z-index: -1;
            @include respond-to-sm() {
                // right: 10px;
            }
        }
    }
    // normal zone
    .normal-zone & {
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        @include last-child-y();
    }
    // red title
    .red-title & {
        margin-bottom: 10px;
        @include respond-to-md() {
            margin-bottom: 0;
        }
    }
}
